version: 2
updates:
  - package-ecosystem: pip
    directory: /
    schedule:
      interval: monthly
      time: "12:00"
    groups:
      dep-connector:
        patterns:
          - "*"
    cooldown:
      default-days: 7
  - package-ecosystem: docker
    directory: /
    schedule:
      interval: monthly
      time: "12:00"
    groups:
      dep-connector-docker:
        patterns:
          - "*"
    cooldown:
      default-days: 7
