name: Connector CI
on:
  pull_request:

jobs:
  python-ci-pulumi:
    permissions:
      contents: read
    uses: notdodo/github-actions/.github/workflows/python-ci.yml@python-ci-v0
    with:
      working-directory: '.'

  build-docker-image:
    permissions:
      attestations: write
      contents: read
      id-token: write
      packages: write
      security-events: write
    uses: notdodo/github-actions/.github/workflows/docker-build-and-push.yml@docker-build-and-push-v0
    with:
      image: digintlab/opencti-connector
      platforms: linux/amd64, linux/amd64
      egress-policy-allowlist: >
        deb.debian.org:443
        deb.debian.org:80
        files.pythonhosted.org:443
        pypi.org:443
      push: false
